body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, serif;
}

body {
  background-color: #23272A;
  min-width: 50%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2%;
}

button {
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 18px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete-button {
  background-color: #e94c4c;
  color: white;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  border-radius: 0 0 18px 18px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.delete-button:hover {
  background-color: #e67676;
  color: white;
  font-size: 14px;
}

button.join-button, button.filter-button {
  font-size: 24px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.25), 
              0 4px 4px rgba(0,0,0,0.25), 
              0 8px 8px rgba(0,0,0,0.25);
}

.menu {
  width: 100%;
  justify-content: center;
  margin: auto;
  position: relative;
  display: flex;
  text-align: center;
}

.menu_item {
  z-index: 100;
  display: inline-block;
  padding: 0 2%;
}


.participants {
  margin: 0 auto;
  list-style-type: none;
}

.participants li {
  float: left;
  color: white;
  position: relative;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.11);
  margin: 1.4em 0.7em 1.4em 0.7em;
  padding: 0.5em;
  min-height: 25em;
  max-height: 25em;
  border-radius: 18px;
  width: 20em;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25), 
              0 4px 4px rgba(0,0,0,0.25), 
              0 8px 8px rgba(0,0,0,0.25), 
              0 16px 16px rgba(0,0,0,0.25);
}

.participants .name {
  height: 40px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.participants .data {
  height: 25px;
  font-size: 15px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.participants .desc {
  font-weight: bold;
  font-size: 18px;
  height: 25px;
}

input, textarea {
  width: 20em;
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 5px;
  margin-right: 10px;
  background-color: #474444;
  color: white;
  position: relative;
  border-width:1px;
  border-style:inset;
}

input[type=checkbox] {
  width: auto;
  margin-left: 8px;
}

.editfields {
  border: 1px solid white;
  color: #23272A;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 18px;
  background-color: #23272A;
  position: absolute;
  text-align: left;
  z-index: 100;
}

.prompt {
  margin-bottom: 5px;
  margin-top: 5%;
  color: white;
}

.mismatch {
  font-weight: normal;
  font-size: 12px;
  color: #e94c4c;
  margin-bottom: 5px;
}

.decision-buttons {
  margin-top: 10px;
  position: relative;
  text-align: center;
}

label {
  display: block;
  font-weight: normal;
  color: white;
}

[type="checkbox"] {
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
  position: relative;
  height: 15px;
  margin-top: 1%;
  margin-bottom: 2%;
  vertical-align: middle;
  margin-left: 5%;
  right: 2%;
}

textarea {
  resize: none;
  height: 4em;
}

.divider1 {
  width:10%;
  height:auto;
  display:inline-block;
}

.cancel {
  background-color: #e94c4c;
  color: white;
}

.cancel:hover {
  background-color: #e67676;
}

.submit {
  background-color: #4ec14e;
  color: white;
}

.submit:hover {
  background-color: #79cf79;
}

.delete-form {
  border: 1px solid white;
  color: #23272A;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 18px;
  top: -100px;
  background-color: #2C2F33;
}

.delete-wrapper {
  bottom: 10%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 95%;
  display: inline-block;
  text-overflow: clip;
}

.long-input {
  display: inline-block;
  width: 95%;
  vertical-align: middle;
}

.filter-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  font-size: 16px;
  font-weight: bold;
}

.filter-grid-item {
  text-align: left;
  min-width: 75px;
  margin-bottom: 20px;
}

.back-to-home {
  font-size: 24px;
  color: white;
}

.back-to-home-div {
  margin: 10px;
}

.create-button {
  max-height: min-content;
}

.grid-menu {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.grid-menu-item {
  text-align: center;
}

.input-button-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.editfields2 {
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 18px;
  background-color: #23272A;
  position: relative;
  text-align: left;
  z-index: 100;
  margin-top: 10px;
}

.skills {
  margin: 1% 5% 1% 0;
  max-width: 20em;
  min-width: 20em
}

.delete-skill {
  margin: 1% 5% 1% 0;
  margin-left: 10%;
  max-width: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}